<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template_Lcano</title>
</head>
<body>
    <h1>HOLA MUNDO</h1>
    <P>Livingstone Cano Bravo</P>
    <p>{{ name }}</p>
    <p>Tengo una edad de: {{ years }}</p>
    <h3>Primer template agregado en django</h3>
    <ul>
        {% for code in codes %}
            <li>{{ code }}</li>
        {% endfor %}
    </ul>
</body>
</html>
